node_modules/
dist/
.env
.env.local
apps/mobile/.env
apps/api/.env
*.js.map
*.d.ts.map

# Prisma
*.prisma.bak

# Expo
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# OS
.DS_Store
Thumbs.db
